* {
    text-align: center;
    color: rgb(214, 178, 247);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

body {
    background-color: rgb(29, 7, 49);
    border-right: 1px dashed rgb(214, 178, 247);
    border-left: 1px dashed rgb(214, 178, 247);
}

main {
    width: 1000px;
    max-width: 80%;
    margin: auto;
}

footer{
    margin-top: 20%;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(48, 4, 90), 0 0 40px rgb(48, 4, 90), 0 0 50px rgb(48, 4, 90), 0 0 60px rgb(48, 4, 90), 0 0 70px rgb(48, 4, 90);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(214, 178, 247), 0 0 40px rgb(114, 19, 203), 0 0 50px rgb(114, 19, 203), 0 0 60px rgb(114, 19, 203), 0 0 70px rgb(114, 19, 203), 0 0 80px rgb(114, 19, 203);
    }
  }
  